{% extends 'third/layout.html.twig' %}

{% block title %}
    Person details
{% endblock %}

{% block body %}
    <div class="alert alert-success">
        {{ person.name }} // {{ person.age }}
    </div>
{% endblock %}