{% extends 'third/layout.html.twig' %}

{% block title %}
    add Person
{% endblock %}

{% block body %}

    <div class="alert alert-danger">
        {{ person.name }} / {{ person.age }}
    </div>

{% endblock %}